

font-face {
  font-family: "Gilroy";
  src: url("../fonts/gilroy-regular.woff2") format("woff2");
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Extrabold.woff2") format("woff2"),
    url("../Gilroy-Extrabold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

body {
  margin: 0 0 0 0;
}

.header {
  height: 60px;
  display: flex;
  column-gap: 424px;
  justify-content: flex-end;
  padding-right: 122px;
}

.main {
  display: flex;
  height: 840px;
}

.article {
  width: 435px;

  padding-top: 326px;
  padding-left: 172px;
  padding-right: 152px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  /* or 167% */
  letter-spacing: -0.0220791px;
}

.article__header {
  font-family: "Gilroy";
  font-weight: 800;
  font-size: 44px;
  text-transform: uppercase;
}

.article__header_ {
  font-family: "Gilroy";
  font-weight: 800;
  font-size: 44px;
  text-transform: uppercase;
  line-height: 50px;
}

.article__text {
  font-family: "Gilroy";
  font-size: 18px;
  line-height: 30px;
  /* or 167% */

  letter-spacing: -0.0220791px;
}

.link__detail25 {
  padding: 5px;
  background-color: black;
}

.sidebar {
  min-width: 283px;
  padding-top: 295px;
  padding-left: 60px;
}

.sidebar__items {
  display: flex;
  flex-direction: column;
  gap: 32px;
  list-style: none;
  padding: 0;
  white-space: nowrap;
  font-size: 13px;
  background-color: white;
}

.logo {
  display: flex;
}

.logo__icon {
  margin-top: 20px;
  margin-left: 24px;
  display: block;
  background-color: #262525;
  width: 70px;
  height: 70px;
  z-index: 60;
}

.logo__text {
  margin-left: 20px;
  padding-top: 20px;
  display: flex;
  text-transform: uppercase;
  font-family: "Gilroy";
  font-weight: 800;
  z-index: 20;
}

.burger {
  position: absolute;
  top: 25px;
  right: 25px;
  width: 70px;
  height: 70px;
  background-color: #262525;
  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 60;
}

.phone {
  height: 60px;
  color: #262525;
  font-family: "Gilroy";
  font-weight: 800;
  font-size: 17px;
  line-height: 60px;
  white-space: nowrap;
  z-index: 20;
  letter-spacing: 0.290629px;
  text-transform: uppercase;
}

.footer {
  padding-left: 60px;
  display: flex;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 15px;
  /* identical to box height */
  letter-spacing: 0.175729px;
  text-transform: uppercase;
  height: 60px;
  align-items: center;
}

.navigate {
  position: absolute;
  bottom: 190px;
  font-family: "Gilroy";
}

.footer__year::before {
  content: "|";
  padding: 0 16px;
}

.content {
  display: flex;
  height: 840px;
  z-index: 9;
  vertical-align: middle;
  margin-right: 50px;
  background: #f0f0f0;
}

.content--hidden {
  position: absolute;
  right: 10px;
  z-index: 6;
  animation-name: contentHiddenAnimation;
  animation-duration: 2000ms;
  background: none;
}

.sidebar__item {
  text-transform: uppercase;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  line-height: 29px;
  letter-spacing: 0.567739px;
  font-family: "Gilroy";
  white-space: nowrap;
}

.sidebar__item--active {
  text-transform: uppercase;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 800;
  line-height: 29px;
  letter-spacing: 0.567739px;
  font-family: "Gilroy";
  white-space: nowrap;
  width: min-content;
  text-decoration: none;
  color: #505050;
  background-image: url("/img/active.png");
  background-repeat: no-repeat;
  background-position: 0 13px;
  background-size: 100% 80%;
}

.sidebar__link:hover {
  background-image: url("/img/active.png");
  background-repeat: no-repeat;
  background-position: 0 18px;
  background-size: 100% 20%;
}

.sidebar__link {
  color: #505050;
  display: block;
  font-size: 13px;
  text-decoration: none;
  width: min-content;
}

@keyframes contentHiddenAnimation {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    z-index: 10;
    background: none;
  }

  90% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    z-index: 10;
    background: none;
  }

  100% {
    z-index: 0;
    visibility: hidden;
  }
}

@keyframes contentHiddenAnimation1 {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    z-index: 10;
    background: none;
  }

  90% {
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px);
    z-index: 10;
    background: none;
  }

  100% {
    z-index: 0;
    visibility: hidden;
    opacity: 0;
  }
}

.menu__item {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 800;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  white-space: nowrap;
  z-index: 20;
}

.menu__link--active {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 800;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  white-space: nowrap;
  z-index: 20;
  color: #262525;
  text-decoration: none;
  padding-bottom: 8px;
  border-bottom: 4px solid #d88f5e;
}

.menu__items {
  display: flex;
  column-gap: 56px;
  list-style: none;
  padding: 0;
  z-index: 20;
}

.menu__link {
  display: flex;
  column-gap: 56px;
  list-style: none;
  padding: 0;
  z-index: 20;
  text-decoration: none;
  color: #262525;
}

.menu__item {
  color: #262525;
  display: block;
  z-index: 20;
  text-decoration: none;
}

.slide--hidden {
  visibility: hidden;
  opacity: 0;
}

.slide {
  width: 1820px;
  height: 850px;
  background-color: #f0f0f0;
  z-index: 50;
  margin-left: 50px;
  position: absolute;
}

a {
  position: relative;
  z-index: 50;
}
